*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins ExtraLight"), url("../fonts/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Regular"), url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins SemiBold"), url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.75rem;
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
}

.header {
  max-width: 19.75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.header h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.015625rem;
  color: #4d4f62;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.header h1 span {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 140%;
  letter-spacing: 0.015625rem;
  color: #4d4f62;
}
.header p {
  font-family: "Poppins", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.00625rem;
  color: #4d4f62;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 2rem;
  min-height: 15.62rem;
  padding: 2rem;
  max-width: 19.62rem;
  flex: 1 1;
  margin: auto;
  box-shadow: 0 15px 30px -11px rgba(131, 166, 210, 0.5);
  border-radius: 0.5rem;
}
.card__header {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 135%;
  letter-spacing: 0;
  color: #4d4f62;
}
.card__description {
  font-family: "Poppins", sans-serif;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.09px;
  color: #6a7178;
}
.card--cyan {
  background: linear-gradient(#44d3d2 0.25rem, #fff 0.25rem);
}
.card--red {
  background: linear-gradient(#ea5454 0.25rem, #fff 0.25rem);
}
.card--orange {
  background: linear-gradient(#fcae4a 0.25rem, #fff 0.25rem);
}
.card--blue {
  background: linear-gradient(#549ef2 0.25rem, #fff 0.25rem);
}

.card__title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.375rem;
}

.middle-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 15.62rem;
  gap: 2rem;
  flex: 1 0;
}

@media screen and (min-width: 45rem) {
  .container {
    gap: 4.625rem;
  }
  .header {
    max-width: 33.75rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .header h1 {
    font-family: "Poppins", sans-serif;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.015625rem;
    color: #4d4f62;
  }
  .header h1 span {
    font-family: "Poppins", sans-serif;
    font-size: 2.25rem;
    font-weight: 200;
    line-height: 140%;
    letter-spacing: 0.015625rem;
    color: #4d4f62;
  }
  .header p {
    font-family: "Poppins", sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.1px;
    color: #4d4f62;
  }
  .middle-wrapper {
    flex-direction: row;
  }
}
@media screen and (min-width: 75rem) {
  main {
    flex-direction: row;
  }
  .card {
    max-width: 21.88rem;
  }
  .middle-wrapper {
    flex-direction: column;
  }
}
